* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primary-shadow: #00000029;
  --color-grey: #a5a5a5;
  --color-grey2: #95989a;
  --color-graphite: #707070;
  --color-lightblue1: #e8e9ed;
  --color-lightblue2: #07ace629;
  --color-blue1: #07ace6;
  --color-primary: #08a6e4;
  --color-darkblue: #13253b;
  --color-color-light-grey: #f7f7f7;
  --color-lightrose1: #ff091129;
  --color-lightrose2: #f9043629;
  --color-rose: #eb476e;
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
}
.container {
  margin: 0 auto;
  width: 1352px;
}
html {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

.page-header {
  height: 70px;
  color: var(--color-grey);
  box-shadow: 0px 3px 6px var(--color-primary-shadow);
}

.page-header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-logo {
  color: var(--color-primary);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-align: left;
}

.page-nav-list {
  display: flex;
  text-transform: uppercase;
}
.page-nav-list a {
  color: var(--color-grey);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  padding: 33px 47px;
}
.page-nav-list a:hover {
  color: black;
  border-bottom: 4px solid var(--color-primary);
}

.banner {
  height: 712px;
  position: relative;
  margin-top: 200px;
}
.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.banner-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 49px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.banner-btn {
  height: 67px;
  width: 440px;
  background: var(--color-primary) 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px #07ace629;
  border-radius: 40px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
a.btn {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.banner img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.statistics {
  height: 531px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px -5px 80px #00000029;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-bottom: 100px;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
}

.statistics-header {
  text-align: center;
  margin-bottom: 100px;
}
.statistics-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 167px;
  max-height: 168px;
}

.numbers {
  text-align: center;
  font: normal normal 800 20px/24px Raleway;
  letter-spacing: 5.96px;
  color: #000000;
  opacity: 1;
  padding: 10px;
}
.column-text {
  text-align: center;
  font: normal normal normal 17px/20px Raleway;
  letter-spacing: 0px;
  color: #a5a5a5;
  opacity: 1;
  padding: 10px;
}

.icon {
  width: 63px;
  height: 63px;
  background-color: var(--color-redish);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person-icon {
  background-color: var(--color-redish);
  position: relative;
}
.person-icon-img {
  position: absolute;
  left: 30px;
}
.eye-icon {
  background-color: var(--color-primary);
  position: relative;
}
.eye-icon-img {
  position: absolute;
  left: 30px;
}

.catalog-icon {
  background-color: var(--color-green);
  position: relative;
}
.catalog-icon-img {
  position: absolute;
  left: 30px;
}

.benefits,
.pricing {
  height: 700px;
}
